adium-theme-ubuntu==0.3.4
astroid==1.4.4
Babel==2.5.3
cffi==1.11.4
chardet==2.3.0
click==6.7
debtcollector==1.19.0
defer==1.0.6
ecdsa==0.13
enum-compat==0.0.2
enum34==1.1.6
eventlet==0.20.0
Flask==0.12.2
funcsigs==1.0.2
futures==3.2.0
greenlet==0.4.13
grpcio==1.9.1
grpcio-tools==1.9.1
ipaddr==2.1.11
itsdangerous==0.24
Jinja2==2.10
lazy-object-proxy==1.2.1
logilab-common==1.1.0
MarkupSafe==1.0
mininet===2.3.0d1
msgpack-python==0.5.2
mysql-connector-python==2.0.4
mysql-utilities==1.6.1
netaddr==0.7.19
nnpy==0.1
numpy==1.14.0
opencv-python==3.4.0.12
oslo.config==5.2.0
oslo.i18n==3.19.0
ovs==2.8.1
paramiko==1.16.0
pbr==3.1.1
pexpect==4.0.1
protobuf==3.5.1
psutil==5.4.3
ptyprocess==0.5
pycparser==2.18
pycrypto==2.6.1
pyflakes==1.1.0
pygobject==3.20.0
pylint==1.5.2
pyodbc==3.0.7
pysqlite==2.7.0
python-apt==1.1.0b1+ubuntu0.16.4.1
python-debian==0.1.27
pytz==2017.3
pyxdg==0.25
PyYAML==3.12
repoze.lru==0.7
rfc3986==1.1.0
Routes==2.4.1
ryu==4.22
scapy==2.2.0
six==1.11.0
stevedore==1.28.0
Tenjin==1.1.1
thrift==0.9.2
tinyrpc==0.7
unity-lens-photos==1.0
vboxapi==1.0
WebOb==1.7.4
Werkzeug==0.14.1
wrapt==1.10.11
